:root {
  --purple: hsl(280deg, 90%, 60%);
}
* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}
h1 {
  color: var(--purple);
  margin: 1rem 0;
  font-size: 2.5rem;
}
a {
  color: hsl(210deg, 80%, 50%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: hsl(60deg, 80%, 50%);
  text-decoration: none;
}
.navigation a {
  color: white;
  transition: all 250ms ease-in-out;
}
.navigation a:hover {
  color: var(--purple);
  text-decoration: none;
}
.skill {
  color: var(--skillColor);
  font-weight: var(--fontBold);
  text-transform: var(--textUppercase);
}