---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Índice de etiquetas";
---
<BaseLayout pageTitle={pageTitle}>
  <section class="tags">
    {tags.map(tag => (
      <a href={`/tags/${tag}`}>
        <span class="tag">{tag}</span>
      </a>
    ))}
  </section>
</BaseLayout>

<style>
  a {
    color: #fff;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    display: inline-block;
    margin: 0.25em;
    border: none;
    border-radius: 8px;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: hsl(320, 5%, 35%);
    transition : background-color 250ms ease-in-out;
  }

  .tag:hover {
    background-color: hsl(320, 5%, 30%);
  }

  .tag a:hover {
    text-decoration: none;
  }
</style>