---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = 'Mi sitio astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>

		<header>
			<Navigation />
		</header>

		<article>
			<h2>Bienvenidos a este curso de Astro</h2>

			<p>Estoy emocionado de crear esta nueva aventura creando sitios web dinámicos con <b><i>Astro</i></b>.</p>
		</article>

		<Footer />
	</body>
</html>
