---
const pageTitle = 'Mi sitio astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			body {
				background-color: #333;
				color: white;
				font-family: Arial, Helvetica, sans-serif;
			}
      a:link {
        color: hsl(210deg, 80%, 50%);
        text-decoration: none;
      }

      a:visited {
        color: hsl(210deg, 80%, 44%);
      }

      a:hover {
        text-decoration: underline;
      }

      a:active {
        color: hsl(60deg, 80%, 50%);
        text-decoration: none;
      }
		</style>
	</head>
	<body>
		<h1>{pageTitle}</h1>

		<header>
			<nav>
				<a href="/">Inicio</a>
				<a href="/about/">Acerca</a>
				<a href="/blog/">Blog</a>
			</nav>
		</header>

		<article>
			<h2>Bienvenidos a este curso de Astro</h2>

			<p>Estoy emocionado de crear esta nueva aventura creando sitios web dinámicos con <b><i>Astro</i></b>.</p>
		</article>
	</body>
</html>
