---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>Escrito por:{frontmatter.author } en <span class="bold italic">{frontmatter.pubDate.toString().slice(0,10)}</span></p>
  <slot />
</BaseLayout>